<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- General description of your web application -->

    <display-name>Spring MVC Skeleton</display-name>
    <description>
		A Skeleton MVC Project
    </description>

    <servlet>
        <servlet-name>skeleton</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
	         <param-name>contextConfigLocation</param-name>
             <param-value>classpath:skeleton-servlet.xml</param-value>
       </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

     <servlet-mapping>
        <servlet-name>skeleton</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <session-config>
      <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>


</web-app>
