<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <!-- General description of your web application -->

    <display-name>Employee Review Management System</display-name>
    <description>
		A flexable system for keeping track of employee review which will 
		allow management to request peer review and track from year to year and 
		employees performance reviews. 
    </description>

    <servlet>
        <servlet-name>reviews</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
	         <param-name>contextConfigLocation</param-name>
             <param-value>classpath:reviews-servlet.xml</param-value>
       </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

     <servlet-mapping>
        <servlet-name>reviews</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <session-config>
      <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>


</web-app>
